:root {
    margin: 0;
    padding: 0;

    --main-black: #2E2E2E;
    --main-white: #FFFFFF;
    --option-border-black: #5E5E5E;

    --border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

/* Starting Screen */

#startingScreen {
    background-image: url(images/Other/StartingScreenBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 99vh;
    
}

#startingScreen div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 50px;

    width: 300px;
    height: 100%;
    margin: auto;
}

#startingScreen.hidden {
    display: none;
}

#startingScreen h1 {
    background-color: var(--main-white);
    border: 3px solid var(--main-black);
    border-radius: var(--border-radius);

    padding: 15px 30px;
    font-size: xx-large;
    text-align: center;
}

#startButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 250px;

    & button {
        width: 300px;
        height: 75px;

        background-color: var(--main-black);
        color: var(--main-white);
        font-size: 30px;
        font-weight: 600;

        border-radius: var(--border-radius);
    }
}

/* Actual Game Layout */
#actualGame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
}

#actualGame.hidden {
    display: none;
}

#mainVisual {
    aspect-ratio: 3/1;
}

#optionsAndDialogue {
    width: 100;
    height: 100%;
}

#dialogueBox {
    text-align: center;
    padding: 150px auto;
    background-color: var(--main-white);
    border: 4px solid var(--main-black);
    border-radius: var(--border-radius);
}

#optionsRow {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;

    & li {
        background-color: var(--main-black);
        color: var(--main-white);
        border: 4px solid var(--option-border-black);
        border-radius: var(--border-radius);
        padding: 5px 10px;
    }
}

/* Mechanics */

#health {
    position: absolute;
    top: 5px;
    left: 5px;
}

#inventoryButton {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 80px;
    width: 80px;

    
}