:root {
    margin: 0;
    padding: 0;

    --main-black: #2E2E2E;
    --main-white: #FFFFFF;
    --option-border-black: #5E5E5E;
    --font-family: Arial, Helvetica, sans-serif;
    --border-radius: 15px;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFF8F0;
    cursor: none;
}

* {
    position: relative;
}

#vertical-pop-up {
    display: none;
}

button:hover {
    cursor: pointer;
}

/* Starting Screen */

#startingScreen {
    background-image: url(images/Other/StartingScreenBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

#startingScreen div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 50px;

    width: 300px;
    height: 100%;
    margin: auto;
}

#startingScreen.hidden {
    display: none;
}

#startingScreen h1 {
    background-color: var(--main-white);
    border: 3px solid var(--main-black);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    padding: 15px 30px;
    font-size: xx-large;
    text-align: center;
}

#startButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 250px;

    & button {
        width: 300px;
        height: 75px;
        background-color: var(--main-black);
        color: var(--main-white);
        font-size: 30px;
        font-weight: 600;
        border-radius: var(--border-radius);
    }
}

/* Actual Game Layout */
#actualGame {
    /* Splits layouts for health, main content, and inventory button */
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    column-gap: 20px;
    height: 97vh;
}

#actualGame.hidden,
#dialogueBox.hidden,
#inventorySection.hidden {
    display: none;
}

#visuals {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    gap: 50px;
}

#visuals.hidden {
    display: none;
}

#mainVisual {
    aspect-ratio: 3/1;
    border-radius: var(--border-radius);
    border: clamp(2px, 1.5vh, 10px) solid var(--main-black);
    margin-bottom: 30px;
    max-width: min(1701px, 45%);
    align-self: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#dialogueBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* Temporary placement while we figure out how to actually position it where we want it */
}

#speakerTag {
    margin-left: clamp(125px, 15vh, 400px);
    padding:clamp(5px, 3vh, 20px);
    position: absolute;
    top:-70px;
    height: clamp(20px, 10vh, 45px);
    width: clamp(100px, 30vh, 200px);
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size:clamp(10px, 7vh, 40px);

    background-color: var(--main-black);
    color: var(--main-white);
    border-radius: var(--border-radius);
}

#dialogueBoxStyle,
#inventorySection {
    border: clamp(2px, 1.5vh, 15px) solid var(--main-black);
    border-radius: var(--border-radius);
    background-color: #F9F9F9;
    box-shadow: -3px 3px 12px 1px rgba(0, 0, 0, 0.30) inset;
    width: auto;
    margin-left: clamp(20px, 8vw, 120px);
    margin-right: clamp(20px, 8vw, 120px);
    height: clamp(100px, 20vh, 200px);
    justify-self: center;

    & p {
        font-size: clamp(20px, 6vh, 45px);
        height: 100%;
        margin: 40px;
    }
}

/* Inventory list*/
#inventory {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    line-height: 0px;

    & li {
        /* Inventory Items */
        display: flex;
        align-items: center;
    }
}

#next {
    margin-left: clamp(20%, 126vh, 80%);
    background-color: var(--main-black);
    color: var(--main-white);
     border: clamp(2px, 2.5vh, 5px) solid var(--main-black);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    width: clamp(200px, 20vh, 400px);
    height: clamp(30px, 15vh, 100px);
    font-size: clamp(10px, 10vh, 40px);
    justify-self: flex-end;
}

#next.hidden {
    display: none;
}

#optionsRow {
    display: flex;
    justify-content: space-between;
    gap: clamp(10px, 5vh, 50px);

    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;

    & li {
        /* flex-basis: 0; */
        flex-grow: 1;
        flex-shrink: 1;

        font-size: 20px;
        background-color: var(--main-black);
        color: var(--main-white);
        border: 4px solid var(--option-border-black);
        border-radius: var(--border-radius);
        padding: 5px 10px;
    }

    & p {
        font-size: clamp(10px, 5vh, 40px);
        align-self: center;
        justify-self: center;
    }
}



/* Mechanics */

#healthbarSection {
    order: -1;
    align-self: center;
    justify-self: center;
    height: 98%;

    & img {
        aspect-ratio: 1/1;
        width: clamp(50px, 10vh, 200px);
    }
}

#healthbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 93vh;
    margin-right: 20px;
}

#inventoryButton {
    position: relative;
    order: 1;
    width: clamp(50px, 10vh, 200px);
    aspect-ratio: 1/1;
    justify-self: center;
    display: flex;
    margin-top: clamp(10px, 10vh, 20px);
    margin-right: clamp(20px, 20vh, 65px);
    background-color: #ffffff00;
    border: 0;
}

#journalButton {
    position: relative;
    order: 1;
    width: clamp(50px, 10vh, 200px);
    aspect-ratio: 1/1;
    justify-self: center;
    display: flex;
    margin-top: clamp(10px, 10vh, 20px);
    margin-right: clamp(20px, 20vh, 65px);
    background-color: #ffffff00;
    border: 0;

}

p {
    font-size: 35px;
    font-family: var(--font-family);
}


/* Journal */
#journalSection.hidden {
    display: none;
}

#journalSpace {
    display: flex;
    flex-direction: column;
}

/* A scene */
#journalSpace div {
    display: flex;
    flex-direction: column;
    width: 100%;

    & img {
        aspect-ratio: 3/1;
        max-width: 40%;
    }

    & p {
        font-size: 20px;
    }
}

/* An option */
#journalSpace .journalOption {
    padding: 20px;
    border-radius: var(--border-radius);
    border: 2px solid var(--option-border-black);
    background-color: var(--main-black);
    color: var(--main-white);
    align-self: flex-start;
}

/* Retry text */
#journalSpace .journalRetryText {
    padding: 20px;
    border-radius: var(--border-radius);
    border: 2px solid var(--option-border-black);
    background-color: var(--main-black);
    color: var(--main-white);
    font-size: 30px;
}


/* Puzzle Screens */

#holesAndShapesPuzzle.hidden,
#rockPaperScissorsPuzzle.hidden,
#decipherPuzzle.hidden {
    display: none;
}

#holesAndShapesPuzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 99vh;
}

#holesAndShapesPuzzle>p {
    text-wrap: nowrap;
    font-size: 60px;
    font-weight: 700;
}

#holesAndShapesPuzzle #GL2Profile {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    align-items: center;

    & img {
        aspect-ratio: 1/1;
        max-width: 300px;
        max-height: 300px;
        border-radius: 20px;
        border: 5px solid #5E5E5E;
    }

    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border: 15px solid var(--main-black);
        border-radius: var(--border-radius);
        background-color: #F9F9F9;
        box-shadow: -3px 3px 12px 1px rgba(0, 0, 0, 0.30) inset;

        width: 500px;
        height: 400px;
        justify-self: center;
        align-self: center;

        & p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            text-align: left;
        }

        & button {
            background-color: var(--main-black);
            color: var(--main-white);
            border: 4px solid var(--option-border-black);
            border-radius: var(--border-radius);
            padding: 10px 10px;
            font-size: 30px;
            justify-self: center;
            align-self: center;
            top: 40px;
            width: 200px;
            position: absolute;
            margin-top: 290px;
        }
    }

}

/* Decipher Puzzle Styling (may the force be with me).. */


#decipherPuzzle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    & h2 {
        font-family: var(--font-family);
        font-size: clamp(25px, 8vh, 75px);
    }
}

#languageKey {
    width: clamp(300px, 20vh, 400px);

}

#inputDecryption {
    background-color: var(--main-black);
    color: var(--main-white);
    border: 4px solid var(--option-border-black);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    font-size: 30px;
    width: 50%;
    justify-self: center;
    align-self: center;
}


#decryptingForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}


#submitDecryption {
    background-color: var(--main-black);
    color: var(--main-white);
    border: 4px solid var(--option-border-black);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    font-size: 30px;
    justify-self: center;
    align-self: center;
    width: clamp(60px, 40vh, 200px);
    height: clamp(20px, 40vh, 75px);
}


#encryptedImg {
    width: clamp(50%, 20vh, 500px);
    border-radius: var(--border-radius);
}


/* Draggable objects */
#holesAndShapesPuzzle .draggable {
    position: relative;
    width: 150px;
    height: 150px;
}

.fitting {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    &[alt="Key"] {
        position: absolute;
        inset: 0;
        width: 200px;
        height: 200px;
    }
}



#holesAndShapesPuzzle #draggableShapeContainer {
    height: 150px;
}

#holesAndShapesPuzzle #boxOfHoles {
    order: 2;
    /* Ensure will always be at the bottom when object is being dragged */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;

    border: 15px solid var(--main-black);
    border-radius: var(--border-radius);
    background-color: #F9F9F9;
    box-shadow: -3px 3px 12px 1px rgba(0, 0, 0, 0.30) inset;

    width: 80%;
    height: 200px;

    & li {
        position: relative;
        list-style-type: none;
        margin: 0px;

        /* Make holes not draggable */
        & img:not(#aGivenShape) {
            -webkit-user-drag: none;
        }
    }
}

#resultDisplay {
    font-size: 50px;
}

/* Game Over */
#gameOverPopup.hidden {
    display: none;
}

#gameOverPopup {
    border-radius: var(--border-radius);
    padding: 20px;
    border: 5px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 250px;

    & button {
        background-color: #2E2E2E;
        color: white;
        border-radius: 15px;
        width: 160px;
        height: 75px;
        font-size: 30px;
    }
}

#gameOverPopup p:first-child {
    font-size: 45px;
    font-weight: 700;
}

#gameOverMessage {
    font-size: 20px;
}

#gameOverPopup::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    /* Adds a blur effect to the page background */
}

#gameOverOptions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
}


.circle {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 90%;
}


/* Rock Paper Scissors styling : ) */


#rockPaperScissorsPuzzle {
    font-family: var(--font-family);
    border: 5px solid #2E2E2E;
    border-radius: 20px;
    margin-bottom: 35px;
    margin-top: clamp(0px, 15vh, 150px);
    width: auto;
}


#rockPaperScissorsDuel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(250px, 21.9vh, 500px);



    & aside div {
        font-size: clamp(15px, 5vh, 40px);
        font-family: var(--font-family);
        align-self: flex-end;
    }

    & img {
        height: 50vh;
        justify-self: flex-start;
    }
}

#playerHand {
    transform: scaleX(-1);
}


#resultDisplay {
    font-family: var(--font-family);
    justify-self: center;
    padding: .5em;
}


#choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-black);
    color: var(--main-white);
    border: 4px solid var(--option-border-black);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    height: 200px;
    font-size: 30px;


    & button {
        background-color: var(#FFF8F0);
        font-size: clamp(10px, 5vh, 30px);
        border-radius: 20px;
        border: 5px solid #5E5E5E;
    }
}

#scores {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

#playerDisplay {
    padding: 5px 10px;
}


#enemyDisplay {
    padding: 5px 10px;
}

.greenText,
#playerScoreDisplay {
    color: hsl(130, 84%, 54%);
}

.redText,
#enemyScoreDisplay {
    color: hsl(0, 84%, 60%)
}


.blackText {
    color: black;
}

/* Media Query for if a user plays on vertical device*/


@media (orientation: portrait) and (max-width:440px) and (max-height: 956px) {

    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    main {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #startingScreen {
        display: none;
    }

    /* Tells a user they must go into landscape for mobile usage, goes away once they switch orientation : ) */
    #vertical-pop-up {
        border: 5px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 20px;
        width: 300px;
        height: 200px;


        & p {
            font-size: 25px;
        }

        & img {
            width: 78px;
            height: 78px;
        }
    }

    #actualGame {
        display: none;
    }

    .circle {
        display: none;
    }

}



/* Ending Screen */
#endingScreen.hidden {
    display: none;
}


@media (orientation: landscape) and (max-height: 402px) and (max-width:1000px) {


    #mainVisual {
        margin-bottom:0px;
    }

    .circle {
        display: none;
    }

    #visuals {
        gap: 30px;
        padding-top: 10px;
        padding-bottom:0px;
        margin-bottom:0px;
        margin-top:0px;
    }

    #rockPaperScissorsPuzzle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #startButtons {
        margin-top: 0px;
        gap: 15px;

        & button {
            font-size: 20px;
            width: 184px;
            height: 54px;
        }
    }

    #holesAndShapesPuzzle>p {
        display: none;
    }


    #startingScreen h1 {
        text-align: center;
        font-size: 35px;
        border: 5px solid #2E2E2E;
    }

    #startingScreen div {
        gap: 15px;
    }

    #speakerTag {
        top:-55px;
    }
}



/* Media Queries for Landscape Mobile Phones*/

/*


@media (orientation: landscape) and (max-height: 402px) and (max-width:874px) {

    main {
        grid-area: 2 / span 3;
    }

    #vertical-pop-up {
        display: none;
    }

    .circle {
        display: none;
    }


    #next {
        width: 175px;
        height: 75px;
        margin-left: 67%;
    }

    #chatBox {
        display: none;
    }

    #actualGame {
        gap: 20px;
    }

    #mainContent {
        position: relative;
        margin-top: 0px;
        gap: 0px;
        padding-top: .5em;
    }

    #dialogueBox {
        align-items: center;

    }



    #dialogueBoxStyle,
    #inventorySection {
        width: 581px;
        height: 92.422px;

        & #dialogue {
            font-size: 20px;
        }
    }

    #speakerTag {
        display: flex;
        width: 109px;
        height: 41px;
        border-radius: 15px;
        font-size: 25px;
        padding: 5px;
        top: -50px;
        left: 70px;
        align-items: center;
        justify-content: center;
    }

    #mainVisual {
        justify-self: center;
        align-self: center;
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 400px;
        aspect-ratio: 3/1;
    }

    #healthbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 350px;
        gap: 20px;

        & img {
            width: 50px;
            height: 50px;
        }
    }

    #inventoryButton {
        width: 27px;
        height: 27px;

        & img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

        }
    }

    #startButtons {
        margin-top: 0px;
        gap: 15px;

        & button {
            font-size: 20px;
            width: 184px;
            height: 54px;
        }
    }

    #holesAndShapesPuzzle>p {
        display: none;
    }


    #startingScreen h1 {
        text-align: center;
        font-size: 35px;
        border: 5px solid #2E2E2E;
    }

    #startingScreen div {
        gap: 15px;
    }

    #tempNavForDevs {
        font-size: 20px;
        width: 184px;
        height: 54px;
    }

    #visuals {
        margin-top: 0px;
        padding-top: 0px;
        gap: 5px;
    }


    /* Puzzle Media Queries */


/* Rock, Paper, Scissors Mobile*/

#resultDisplay {
    font-size: 20px;
}

#choices {
    height: 50px;

    & button {
        width: clamp(150px, 20vh, 200px);
        height: 50px;
    }
}

.scoreDisplay {
    font-size: 20px;
}


/* Holes and Shapes Mobile */


#draggableShapeContainer img {
    width: 50px;
    height: 50px;
}

#holesAndShapesPuzzle #draggableShapeContainer>img {

    width: 50px;
    height: 50px;
}

element.style {
    width: 50px;
    height: 50px;
}

#holesAndShapesPuzzle #boxOfHoles {
    margin-top: 0px;

    & img {
        width: 120px;
        height: 120px;
    }
}


#holesAndShapesPuzzle #GL2Profile {
    margin-bottom: 55px;
    gap: 200px;

    & div {
        width: 300px;
        height: 100px;

        & button {
            width: 100px;
            top: 5px;
            font-size: 25px;
        }

        & p {
            font-size: 13px;
        }
    }

    & img {
        width: 120px;
    }
}